.myKudosContainer {
  width: 100%;
  height: auto;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.kudoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kudoTop {
  width: 300px;
  height: 280px;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 36px;
}

.kudo {
  width: 260px;
  height: 200px;
  padding: 10px;
  background: #ffffff;
  border-radius: 3px;
}

.name {
  margin: 12px;
}

.message {
  font-style: italic;
  color: #000000;
}
