.myKudosContainer {
  width: 100%;
  height: auto;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.kudoCard {
  min-width: 300px;
  height: 220px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  font-style: italic;
  padding-left: 8px;
}
