body {
  font-family: 'Quicksand', sans-serif;
  padding: 0 1rem 1rem 1rem;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  background: #1e3626;
  color: #EBEBEB;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}
